[extruder]
step_pin: PB3
dir_pin: !PB4	             
enable_pin: !PD1
full_steps_per_rotation: 200  
rotation_distance: 21.56       
gear_ratio: 50:10               
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PA0
min_temp: 0
max_temp: 300
min_extrude_temp: 190
max_extrude_only_distance: 150
max_extrude_cross_section: 1.5
pressure_advance_smooth_time: 0.040
control: pid  
pid_Kp: 28.182
pid_Ki: 1.978
pid_Kd: 100.397

[tmc2209 extruder]
uart_pin: PC11
interpolate: False
run_current: 0.6
#diag_pin: head:PA8   
sense_resistor: 0.220
#stealthchop_threshold: 9999 
stealthchop_threshold: 0    
tx_pin: PC10
uart_address: 3

[heater_fan nozzle_cooling_fan]
pin: PC7

[filament_switch_sensor RunoutSensor]
pause_on_runout: False
runout_gcode: PAUSE
switch_pin: PC15
