# Kkobold Voron 0
#
# SKR3 e3 mini 
# Raspberry Pi 4
#

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 10000
# max_accel_to_decel: 1500
max_z_velocity: 15  #15
max_z_accel: 500
square_corner_velocity: 6.0

[virtual_sdcard]
path: /home/kkobold/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#[controller_fan motherboard_fan]
#pin: PB15

[include mcu_skr_mini_e3_v3.cfg]
[include mcu_raspberry_pi_3b.cfg]


[include steppers.cfg]
[include level.cfg]
[include extruder.cfg]
[include bed.cfg]
#[include simple_display.cfg]



[include fluidd.cfg]

[include macros_movement.cfg]
