################################
####  Simple Screen Config  ####
################################
[display]
lcd_type: sh1106
click_pin: ^!PA15
i2c_bus: i2c1_PB8_PB9
i2c_mcu = pi 
encoder_pins: ^PA10, ^PA9
kill_pin: ^!PD6
vcomh: 60
x_offset: 2
