#
# Motion Steppers
#

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 40
homing_retract_dist: 0 
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
interpolate: False
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0 
tx_pin: PC10
uart_address:0           
driver_SGTHRS: 100     
diag_pin: PC0

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 40
homing_retract_dist: 0 
homing_positive_dir: true


[tmc2209 stepper_y]
uart_pin: PC11
interpolate: False
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0 
tx_pin: PC10
uart_address:2           
driver_SGTHRS: 100     
diag_pin: PC1

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
rotation_distance: 8                                                # For T8x8 lead screw
microsteps: 32
endstop_pin: ^PC2
position_endstop: 120
position_max: 120
position_min: -1.5
homing_speed: 20
second_homing_speed: 5.0
homing_retract_dist: 5.0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1 
interpolate: False
run_current: 0.3
hold_current: 0.05
sense_resistor: 0.110
stealthchop_threshold: 0 
